/* body{
    display: flex;
    align-items: center;
    justify-content: center;
} */
.container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}


.grid {
    width: 300px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    background-color: #27bead;
    border: rgb(243, 243, 243) solid 3px;
}

.grid div {
    height: 18px;
    width: 18px;
    border: #27bead solid .1mm;
    background: #27bead;
}

.btm{
    display: none;
}

.tetromino {
    background-color: blue;
}


.mini-grid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: linear-gradient(#27bead, #000);
}

.mini-grid div {
    height: 20px;
    width: 20px;
}

.btn-grid{
    display: grid;
    grid-template-columns: 70px 70px;
    grid-template-rows: 70px 70px;
}

.btn-play{
    margin: 2px;
    background-color: #27bead;
    border-radius: 10px;
    border: rgb(243, 243, 243) 3px solid;
    transition: ease-in-out .2s;
    display: none;
}

.btn-play:hover{
    background-color: #00d1b8;
}

i{
    color: rgb(243, 243, 243);
    font-size: 20px;
}


/* .colores{ */
    /* 1 */
/*     background-color: linear-gradient(#27bead, #000);
    background-color: #FDDF7E;
    background-color: #FAA99D;
    background-color: #CE97FD;
    background-color: #9BFBE1;
    background-color: #67EBFA; */

    /* 2 */
/*     background-color: #ffce2e;
    background-color: #ff8775;
    background-color: #bc70ff;
    background-color: #5cffd3;
    background-color: #19e8ff; */

    /* 3 */
/*     background-color: #FDDF7E;
    background-color: #FAA99D;
    background-color: #CE97FD;
    background-color: #9BFBE1;
    background-color: #67EBFA;
} */

@media(max-width:1024px){
    .btn-play{
        display: block;
    }
}
