*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h3 {
    color: white;
    font-size: 4vmin;
    text-align: center;
    font-family: 'Tourney', cursive;
    padding-bottom: 4vmin;
}
/*  Contenedor de la poantalla de juego y demás elementos   */
.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
}

/*  Centra el contenedor principal*/
.center_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vmin;
}

/* Propiedades flex grid y minigrid */
.grid,
.mini-grid {
    background-color: #0d0b0b;
    display: flex;
    flex-wrap: wrap;
}

/*  Borde del grid y mini grid (próxima ficha) */
.grid div,
.mini-grid div {
    border: 0.1vmin solid #2b2b2b;
    height: 3.4vmin;
    width: 3.4vmin;
}

/*  Tamaño del grid principal */
.grid {
    width: 51vmin;
    height: 85vmin;
}

/*  Tamaño del mini grid - próxima ficha */
.mini-grid {
    width: 13.6vmin;
    height: 13.6vmin;
}

/*  Items sección derecha   */
.items {
    height: 80vmin;
    width: 20vmin;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

/*  Botón start y pause */
.button {
    width: 100%;
    position: relative;
}

#start-button {
    display: inline-flex;
    background-color: #27bead;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8vmin;
    font-size: 3vmin;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 2vmin;
    border: rgb(243, 243, 243) 2px solid;
}

#start-button:hover {
    background: #52525d;
}

/*  Elemenos ocultos del juego  */
.btn-grid, 
.btm{
    display: none;
}

/*  Media queryes del juego*/
@media(max-width:1023px){

    .grid div,
    .mini-grid div {
        border: 0.1vmin solid #2b2b2b;
        height: 3vmin;
        width: 3vmin;
    }

    .grid {
        width: 45vmin;
        height: 75vmin;
    }

    .mini-grid {
        width: 12vmin;
        height: 12vmin;
    }

    .btn-grid{
        display: flex;
    }

    .btn-play{
        width: 11vmin;
        height: 11vmin;
        margin: 2px;
        background-color: #27bead;
        border-radius: 2vmin;
        border: rgb(243, 243, 243) 2px solid;
        transition: ease-in-out .2s;
        font-size: 20px;
    }

    .btn-play:hover{
        background: #52525d;
    }
    
}
@media(max-width:375px){
    .btn-play{
        width: 15vmin;
        height: 15vmin;
    }
}