*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h3 {
    color: white;
    font-size: 4vmin;
    text-align: center;
    font-family: 'Tourney', cursive;
    padding-bottom: 4vmin;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.center_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vmin;
}

.grid,
.mini-grid {
    background-color: #0d0b0b;
    display: flex;
    flex-wrap: wrap;
}

.grid div,
.mini-grid div {
    border: 0.1vmin solid #2b2b2b;
    height: 3.4vmin;
    width: 3.4vmin;
}

.grid {
    width: 51vmin;
    height: 85vmin;
}

.mini-grid {
    width: 13.6vmin;
    height: 13.6vmin;
}

.items {
    height: 80vmin;
    width: 20vmin;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.button {
    width: 100%;
    position: relative;
}

#start-button {
    display: inline-flex;
    background-color: #27bead;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8vmin;
    font-size: 3vmin;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 2vmin;
}

#start-button:hover {
    background: #52525d;
}

.btn-grid, 
.btm{
    display: none;
}

/* .colores{ */
    /* 1 */
/*     background-color: linear-gradient(#27bead, #000);
    background-color: #FDDF7E;
    background-color: #FAA99D;
    background-color: #CE97FD;
    background-color: #9BFBE1;
    background-color: #67EBFA; */

    /* 2 */
/*     background-color: #ffce2e;
    background-color: #ff8775;
    background-color: #bc70ff;
    background-color: #5cffd3;
    background-color: #19e8ff; */

    /* 3 */
/*     background-color: #FDDF7E;
    background-color: #FAA99D;
    background-color: #CE97FD;
    background-color: #9BFBE1;
    background-color: #67EBFA;
} */

@media(max-width:1023px){

    .grid div,
    .mini-grid div {
        border: 0.1vmin solid #2b2b2b;
        height: 3vmin;
        width: 3vmin;
    }

    .grid {
        width: 45vmin;
        height: 75vmin;
    }

    .mini-grid {
        width: 12vmin;
        height: 12vmin;
    }

    .btn-grid{
        display: grid;
        grid-template-columns: 70px 70px;
        grid-template-rows: 70px 70px;
    }

    .btn-play{
        margin: 2px;
        background-color: #27bead;
        border-radius: 10px;
        border: rgb(243, 243, 243) 3px solid;
        transition: ease-in-out .2s;
    }

    .btn-play:hover{
        background: #52525d;
    }

    i{
        font-size: 20px;
    }
    
}